{% extends 'finderapp/base.html' %}

{% block content %}

 <form method="POST" action="/UserAnswer">
<div class="">
	<h1 class="text-center">Are you familiar with the Immigrant Visa Process?</h1>
	<div class="row">
		<div class="col-md-3 text-center">
			<h2>Step 1</h2>
			<br />
			<h2>Petition</h2>
			<h3>Submit a petition</h3>
		</div>
		<div class="col-md-3 text-center">
			<h2>Step 2</h2>
			<br />
			<h3>After your petition is approved</h3>
			<h3>Begin National Visa Center (NVC)</h3>
			<h3>Choose an agent</h3>
			<h3>Pay fees</h3>
		</div>
		<div class="col-md-3 text-center">
			<h2>Step 3</h2>
			<br />
			<h3>Collect and submit forms and documents to the NVC</h3>
			<h3>Submit visa application form</h3>
			<h3>Collect financial documents</h3>
			<h3>Collect supporting documents</h3>
			<h3>Submit documents to the NVC</h3>
		</div>
		<div class="col-md-3 text-center">
			<h2>Step 4</h2>
			<br />
			<h3>Interview</h3>
			<h3>Prepare for the interview</h3>
			<h3>Applicant interview</h3>
			<h3>After the interview</h3>
		</div>
	</div>
</div>
<hr>


{% endblock %}