<!--
Grabbed the navbar example from here:
https://getbootstrap.com/examples/navbar/
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="navbar-header">

      <a class="navbar-brand animated zoomIn" href="http://localhost:8000">
        <img src="../static/img/logo2.png" width="161" height="50" alt="">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div id="navbarText" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active animated zoomIn">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item animated zoomIn">
          <a class="nav-link" href="{% url 'lawyer_list' %}">Lawyers</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
       {% if not user.is_authenticated %}
         <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li>
         <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log In</a></li>
       {% else %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
               role="button" aria-haspopup="true" aria-expanded="false">
              {{user.username}} <span class="caret"></span>
            </a>
            
            <ul class="dropdown-menu">
              <li><a href="{% url 'logout' %}">Logout</a></li>
              <li><a href="/admin">Admin</a></li>
            </ul>
         </li>
       {% endif %}
      </ul>
    </div>
  </div>
</nav>
