{% extends 'finderapp/base.html' %}

{% block content %}
<h2>Lawyers</h2>
<a href="{% url 'lawyer_create' %}" class="btn btn-info">Add</a>
<br>

<hr>

<ul>
	{% for lawyer in lawyers %}
	
	<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ lawyer.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ lawyer.ratings }}</h6>
    <p class="card-text">{{ lawyer.specialties }}.</p>
    <a href="{% url 'lawyer_detail' pk=lawyer.pk %}" class="card-link">Details</a>
    <a href="https://www.google.com/" class="card-link">search on Google </a>
  </div>
</div>
<br>

	{% endfor %}
</ul>
{% endblock %}